
<div class="container mt-5">

<table class="table table-striped">
    <thead>
        <tr>
          <th>Card Number</th>
          <th>Offer</th>
          
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offer of offers">
        <td>{{ offer.cardNumber }}</td>
        <td>{{ offer.offer }}

            </td>
            <td>            <a routerLink="/addtoWallet" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;" class="btn btn-link">Add Money to wallet</a>
            </td>
        
      </tr>
    </tbody>
  </table>
</div>