


<form style="text-align:center;">
    <h1>Welcome to VPay App</h1>
</form>
<form style="text-align:right;">
<div>
    
    <h2>Total Due </h2>
    <h3 style="color: red;">{{totalDue}}</h3>
    <h2>Minimun Due</h2>
    <h3 style="color: red;">{{minDue}}</h3>
</div>
<br>
<a routerLink="/addCards"><button class="btn btn-success pull-right"style="background-color: #0524eb;" > Add Cards</button></a>

<a routerLink="/checkKyc"><button class="btn btn-success pull-right" >checkOffers</button></a>

</form>