<div class="panel-body" style="width: 100%; overflow-x:auto;">
    <table align="center">
        <thead class="thead-light">
            <tr>
                <th>cardNumber</th>
                <th>cardHolderName</th>
                <th>bankName</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pet of cards ">
                <td>{{pet.cardNumber}}</td>
                <td>{{pet.cardHolderName}}</td>
                <td>{{pet.bankName}}</td>
                <!-- <td>
                     <button class="btn btn-primary"  (click)="update(pet.id)">Edit</button>&nbsp;

                    <button (click)="deleteOwner(pet.id)" class='btn btn-danger'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
            
                </td> -->
            </tr>
        </tbody><br>
    </table>
</div>


