
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"> -->
<html>
    <body class="inventory-body">

        <form [formGroup]="loginForm" style="width: auto; margin-top: 2cm;  height: auto; border-collapse: unset; margin-left: 10cm; " (ngSubmit)="onSubmit()" >
 
            <div class="form-group">
                <input type="text" style="max-width: 350px; margin-left: 0.2cm;" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <input toggle type="password" style="max-width: 350px; margin-left: 0.2cm;" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  placeholder="Password">
                    <span id="toggle_pwd" class="fa fa-fw fa-eye field_icon"></span>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
        
            <br>
            
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>  
                <button (click)="Register()" class="btn btn-primary" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">Register</button>
        
            </div>
            
        </form>
    </body>
</html>
<!-- <body class="inventory-body">
<form [formGroup]="loginForm" style="width: auto; margin-top: 2cm;  height: auto; border-collapse: unset; margin-left: 23cm; " (ngSubmit)="onSubmit()" >
 
    <div class="form-group">
        <input type="text" style="max-width: 350px; margin-left: 0.2cm;" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <input toggle type="password" style="max-width: 350px; margin-left: 0.2cm;" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  placeholder="Password">
            <span id="toggle_pwd" class="fa fa-fw fa-eye field_icon"></span>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>

    
    
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>  
        <button (click)="Register()" class="btn btn-primary" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">Register</button>

    </div>
    
</form>

</body> -->
<!-- 
<div class="container">
<form action="/action_page.php" style="width: auto; margin-top: 2cm;  height: auto; border-collapse: unset; margin-left: 23cm; " (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username">
    </div>
    <br>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
      </button>  
      <a routerLink="/register" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;" class="btn btn-link">Register</a>
  </div>
  
  </form>
</div> -->