

<div class="panel-body" style="width: 100%; overflow-x:auto; margin-top: 20px;">
  <button type="submit" class="btn btn-success" style="margin-left:20px;" (click)="balance()"> Check Balance transfer offers</button>
  <button type="submit" class="btn btn-success" style="margin-left:20px; " (click)="loan()">Check cash/loan offers</button>
</div>



<div *ngIf="isBalance" >

  <table mat-table [dataSource]="offers" class="mat-elevation-z8">


    <ng-container matColumnDef="Card Number">
      <th mat-header-cell *matHeaderCellDef> Card Number </th>
      <td mat-cell *matCellDef="let element"> {{element.cardNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="Total Due">
      <th mat-header-cell *matHeaderCellDef> Current Balance </th>
      <td mat-cell *matCellDef="let element"> {{element.totalDue}} </td>
    </ng-container>


    <ng-container matColumnDef="Offer from">
      <th mat-header-cell *matHeaderCellDef> Offer from </th>
      <td mat-cell *matCellDef="let element"> {{element.bankName}} </td>
    </ng-container>

    <ng-container matColumnDef="Offer Description">
      <th mat-header-cell *matHeaderCellDef> Offer Description </th>
      <td mat-cell *matCellDef="let element"> {{element.offer}} </td>
    </ng-container>
    <ng-container matColumnDef="Select">
      <th mat-header-cell *matHeaderCellDef> Select </th>

      <td *matCellDef="let element">
         <button type="button" (click)="onSelect(element)" class="btn btn-success">Apply</button></td>
    </ng-container>

    <!-- <tr>
            <th>Card Number</th>
            <th>Total Due</th>
            <th>Offer from</th>
            <th>Offer Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let offer of offers">
            
            <td>{{offer.cardNumber}}</td>
            <td>{{offer.totalDue}}</td>
            <td>{{offer.bankName}}</td>
            <td>{{offer.offer}}</td>
            <td>       <button type="button" (click)="onSelect(offer)" class="btn btn-success">View Offer</button>
            </td>
            
        </tr>

    </tbody> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div> 

<div *ngIf="isLoan" >
  <table mat-table [dataSource]="offers" class="mat-elevation-z8">
    <ng-container matColumnDef="Offer From">
      <th mat-header-cell *matHeaderCellDef> Offer From </th>
      <td mat-cell *matCellDef="let element"> {{element.bankName}} </td>
    </ng-container>
    <ng-container matColumnDef="Offer">
      <th mat-header-cell *matHeaderCellDef> Offer </th>
      <td mat-cell *matCellDef="let element"> {{element.offerType}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Select">
      <th mat-header-cell *matHeaderCellDef> Select </th>

      <td *matCellDef="let element">
         <button type="button" (click)="onSelect(element)" class="btn btn-success">View Offer</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>

    <tr  mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
  <!-- <table class="table table-striped">
      <thead>
          <tr>
            <th>Bank</th>
            <th>Offer</th>
            
          </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let offer of offers">
  
        <tr *ngIf="offer.offerType ==='loan' ">
          <td>{{ offer.bankName }}</td>
          <td>{{ offer.offerType }}
  
              </td>
           
           <td>       <button type="button" (click)="onSelect(offer)" class="btn btn-success">View Offer</button>
              </td>
          
        </tr>
      </ng-container> -->
  
    </table>
  </div> 