<div>
    <p>
        Offer Description:{{offer.offer}}
    </p>
</div>
<button type="submit" class="btn btn-success" (click)="apply()">Click here to apply offer</button>
<div *ngIf="isApplyOffer && isbalaceOffer">
    <div class="panel-body" style="width: 100%; overflow-x:auto;">
        <!-- <table align="rightS">
            <thead class="thead-light">
                <tr>
                    <th>Card Number</th>
                    <th>Total Due</th>
                    <th>Offer from</th>
                    <th>Offer Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let card of cards ">
                    
                    <td>{{card.cardNumber}}</td>
                    <td>{{card.totalDue}}</td>
                    <td>{{card.bankName}}</td>
                    <td>{{card.offer}}</td>
                    
                    
                </tr>
               
            </tbody>
            
            
        </table> -->




    </div>
    
    <div>
        <span *ngIf="!isConfirm"> Please accept terms and conditons</span>
        <span *ngIf="isConfirm"> We will pay your dues and you will get the new card within 3 to 4 working days. Please confirm to continue.</span>

        <br>
        <button *ngIf="!isConfirm" class="btn btn-success" style="margin-right: 50px;" (click)="termsForBalance()">check terms and conditions</button>
        <button *ngIf="isConfirm" class="btn btn-success" style="margin-right: 50px;" (click)="confirm()">Confirm</button>

       
        <button class="btn btn-success" style="margin-right: 50px;">Cancel</button>&nbsp;
    </div>

</div>


<!-- Loan UI -->

<div *ngIf="isApplyOffer && !isbalaceOffer" class="container">

    <form [formGroup]="loanForm">

        <div class="employeeDetaoils" *ngIf="!isNext" style="margin-top: 20px;">
            <div class="form-group">
                <label>Please enter employment details </label>
            </div>


            <div class="form-group">
                <label for="employerName">Employer Name *: </label>
                <br>
                <input id="employerName" type="text" formControlName="employerName" required>
            </div>




            <div class="form-group">
                <label for="employeeId">Employee EmailId *: </label>
                <br>
                <input id="employeeId" type="text" formControlName="employeeId" required>
            </div>
            <div class="form-group">
                <label for="otp">Please enter OTP sent on your<br> registered email Id *: </label>
                <br>
                <input id="otp" type="text" formControlName="otp" required>
            </div>
            <div class="form-group">
                <label for="document">Please upload Documents for verification: </label>
            </div>
            <div class="form-group">
                <label for="document1">Document 1: </label>

                <input id="document1" type="file" formControlName="document1">
            </div>
            <div class="form-group">
                <label for="document2">Document 2: </label>

                <input id="document2" type="file" formControlName="document2">
            </div>
            <button class="btn btn-success" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;"
                (click)="next()">
                Next
            </button>
            </div>
        <div class="loadDetails" *ngIf="isNext" style="margin-top: 20px;">
            <div class="form-group" style="margin-top: 20px;">
                <label for="tennure">Please submit below details to proceed </label>
            </div>





            <div class="form-group">
                <label for="tennure">tennure:{{offer.tennure}} </label>
            </div>

            <div class="form-group">
                <label for="tennure">Approved Limit:{{offer.offerAmt}} </label>
            </div>

            <div class="form-group">
                <label for="amount">Enter Amount upto aproved limit: </label>
                <br>
                <input id="amount" (ngModelChange)="calculateEmi($event)" type="text" formControlName="amount">
            </div>

            <div class="form-group">
                <label for="tennure">Monthly EMI will be :{{emi}} </label>
            </div>
            <div class="form-group">
                <button *ngIf="!isLoanFlag" type="submit" (click)="loanTerms()" class="btn btn-success"
                    style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">
                    Terms and Conditions
                    </button>
                    <button *ngIf="isLoanFlag" type="submit" (click)="onSubmitLoan()" class="btn btn-success"
                        style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">
                        Submit
                    </button>
                    <button type="reset" class="btn btn-success"
                        style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">
                        Cancel
                    </button>
                    </div>


        </div>
    </form>
</div>