<div ><p >
Offer Description:{{offer.offer}} 
</p>
</div>
<button type="submit" class="btn btn-success" (click)="apply()">Click here to apply offer</button>
<div *ngIf="isApplyOffer && isbalaceOffer">

    <!-- <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="amount">Account: </label>
            <select formControlName="accountNumber">
                <option [ngValue]="null" disabled>Select account</option>
                <option *ngFor="let account of accounts" [ngValue]="account">{{account}}</option>
              </select>
      </div>
      <div class="form-group">
        <label for="amount">Amount: </label>
        <input id="amount" type="text" formControlName="amount">
        </div>
        <div class="form-group">
        <button type ="submit" class="btn btn-primary" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">
            Submit
        </button>  
        <button  type = "reset" class="btn btn-primary" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">
            Cancel
        </button>  
        </div>
      </form> -->


      <div class="panel-body" style="width: 100%; overflow-x:auto;">
        <table align="rightS">
            <thead class="thead-light">
                <tr>
                    <th>select</th>
                    <th>cardNumber/LoanNumber</th>
                    <th>bankName</th>
                    <th>totalDue</th>
                    <th>minDue</th>
                   
                    <th>due duration</th>
                    <th>Enter amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let card of cards ">
                    <td>
                        <input type="checkbox" value="" (click)="getRow(card, $event)"/> 
                    </td>
                    <td>{{card.cardNumber}}</td>
                    <td>{{card.bankName}}</td>
                    <td>{{card.totalDue}}</td>
                    <td>{{card.minDue}}</td>
                    <td>{{card.dueDate}}</td>
                    <td><input type="number" id="amount" placeholder="enter amount" [(ngModel)]="card.amount" formControlName="amount"></td>
                    
                </tr>
                <tr>
                    <td colspan="6"> Total</td>
                    <td>{{selectedAmount}}</td>
                    
                </tr>
            </tbody>
            
            
        </table>
    
    
    
        
    </div>
    <button class="btn btn-primary"   style="margin-right: 50px;" (click)="payDues()">Pay Due</button>&nbsp;

</div>


<!-- Loan UI -->

<div *ngIf="isApplyOffer && !isbalaceOffer" class="container">

    <form [formGroup]="loanForm" (ngSubmit)="onSubmitLoan()">
        
        <div class="form-group">
            <label for="tennure">tennure:{{offer.tennure}} </label>
            </div>

      <div class="form-group">
        <label for="amount">Enter Amount upto available limit: </label>
        <input id="amount" type="text" formControlName="amount">
        </div>

        <div class="form-group">
            <label>Please enter employment details: </label>

            <label for="employerName">Employer Name : </label>
            <input id="employerName" type="text" formControlName="employerName">
            </div>
            <div class="form-group">
                <label for="employeeId">Employee Id : </label>
                <input id="employeeId" type="number" formControlName="employeeId">
                </div>
                <div class="form-group">
                    <label for="otp">Please enter OTP sent on your registered mobile number: </label>
                    <input id="otp" type="text" formControlName="otp">
                    </div>
        <div class="form-group">
            <label for="document">Please upload Documents for verification: </label>
            <input id="document" type="file" formControlName="document">
            </div>
        <div class="form-group">
        <button type ="submit" class="btn btn-primary" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">
            Submit
        </button>  
        <button  type = "reset" class="btn btn-primary" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">
            Cancel
        </button>  
        </div>
      </form>
</div>