
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<form style="text-align:center;" [formGroup]="cardDetails">
<div class="main">
        <h2>Wallet balance</h2>
    <h2 style="color: red;">{{walletAmount}}</h2> 
        <h2>Total Due </h2>
    <h3 style="color: red;">{{totalDue}}</h3>
    <h2>Minimun Due</h2>
    <h3 style="color: red;">{{minDue}}</h3>
</div>
<div class="panel-body" style="width: 100%; overflow-x:auto;">
    <table align="rightS">
        <thead class="thead-light">
            <tr>
                <th>select</th>
                <th>cardNumber/LoanNumber</th>
                <th>bankName</th>
                <th>totalDue</th>
                <th>minDue</th>
               
                <th>due duration</th>
                <th>Enter amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let card of cards ">
                <td>
                    <input type="checkbox" value="" (click)="getRow(card, $event)"/> 
                </td>
                <td>{{card.cardNumber}}</td>
                <td>{{card.bankName}}</td>
                <td>{{card.totalDue}}</td>
                <td>{{card.minDue}}</td>
                <td>{{card.dueDate}}</td>
                <td><input type="number" id="amount" placeholder="enter amount" [(ngModel)]="card.amount" formControlName="amount"></td>
                
            </tr>
            <tr>
                <td colspan="6"> Total</td>
                <td>{{selectedAmount}}</td>
                
            </tr>
        </tbody>
        
        
    </table>



    
</div>
<br>
<button class="btn btn-primary"   style="margin-right: 50px;" (click)="openDialog()">NetBanking</button>&nbsp;

<button class="btn btn-primary"  (click)="clearByWallet( )" style="margin-right: 50px;">VPay Wallet</button>&nbsp;

<button class="btn btn-primary"   style="margin-right: 50px;">Saving+VPayWallet</button>&nbsp;

</form>


