<div ><p >
Offer Description:{{offer.offer}} 
</p>
</div>
<button type="submit" (click)="apply()">Click here to apply offer</button>
<div *ngIf="isApplyOffer">

    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="amount">Account: </label>
            <select formControlName="accountNumber">
                <option [ngValue]="null" disabled>Select account</option>
                <option *ngFor="let account of accounts" [ngValue]="account">{{account}}</option>
              </select>
      </div>
      <div class="form-group">
        <label for="amount">Amount: </label>
        <input id="amount" type="text" formControlName="amount">
        </div>
        <div class="form-group">
        <button type ="submit" class="btn btn-primary" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">
            Submit
        </button>  
        <button  type = "reset" class="btn btn-primary" style="max-width: 350px; margin-left: 0.2cm; margin-bottom: 0.7cm;">
            Cancel
        </button>  
        </div>
      </form>
</div>